# 后端环境变量
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-lucky-fire-a1fp6l8q-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
ADMIN_USER=admin
ADMIN_PASSWORD=admin123

# Cloudinary（后端）
CLOUDINARY_CLOUD_NAME=dtultipb8
CLOUDINARY_API_KEY=511821373688648
CLOUDINARY_API_SECRET=omBny0Pe74fAwFW_1F7iWwPf2u8
CLOUDINARY_UPLOAD_PRESET=donation_unsigned
